/* Import Compass - Note: This is not supported in regular CSS */
/* @import "compass"; */

/* Define variables (Not supported in regular CSS) */
/* $blue: #009cde; */
/* $gray: #ddd; */

/* Apply styles to all elements */
* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #fff;
}

/* Apply styles to images */
img {
  width: 250px;
  display: block;
  margin: 20px auto;
}

/* Apply styles to h1 elements */
h1 {
  padding: 20px;
  display: block;
  margin: 20px auto;
  font-size: 34px;
  text-align: center;
}

/* Apply styles to an element with the ID "content" */
#content {
  background-color: #aaa;
  width: 80%;
  height: 100vh;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  /* Replaced the mixin with a regular CSS property */
  padding-top: 45px;
}

/* Apply styles to an element with the ID "loader" */
#loader {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  border-width: 0;
  border-style: solid;
  background-image: linear-gradient(45deg, #009cde 33%, #ddd 33%, #ddd 100%);
  border-radius: 50%;
}

/* Apply styles to an element within the element with the ID "loader" */
#loader-inner {
  background: #aaa;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}